<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Редактировать пользователя '+person.getName()}"></title>
</head>
<body>
<h1 style="margin-top: 100px; margin-left: 100px">Редактировать</h1>
<div style="margin-left: 100px; margin-top: 15px; border-width:3px; border-color: grey; border-style: solid;
width: 250px">
    <div style="padding: 10px;">
        <form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">

            <label for="name">Имя: </label>
            <input type="text" id="name" th:field="*{name}">
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <br/>

            <label for="year">Год рождения: </label>
            <input type="text" id="year" th:field="*{year}">
            <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
            <br/>

            <input type="submit" value="Сохранить">
        </form>
    </div>
</div>
</body>
</html>